.qna-launcher, .qna {
  display: none;
  position: fixed;
  z-index: 9999; }

.qna-launcher__button {
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer; }

.qna {
  width: 98%;
  height: 98vh; }
  @media screen and (min-width: 480px) {
    .qna {
      width: 320px; } }
  @media screen and (min-width: 768px) {
    .qna {
      height: 500px; } }

.qna-bot {
  background-color: #fff;
  border-style: solid;
  border-width: 4px;
  border-radius: 2px;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%; }
  .qna-bot__header {
    justify-content: flex-start;
    height: 50px;
    flex: none;
    display: flex;
    align-items: center;
    padding: 5px 5px 7px 5px; }
    .qna-bot__header__logo {
      height: 100%;
      width: auto;
      border-style: solid;
      border-width: 2px;
      border-radius: 2px;
      margin-right: 10px; }
    .qna-bot__header__title {
      margin: 0;
      padding: 0; }
    .qna-bot__header__close {
      margin-left: auto;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer; }
      .qna-bot__header__close__x {
        stroke-linecap: round;
        stroke-width: 5; }
  .qna-bot__stream-wrap {
    flex-grow: 2;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 5px; }
    .qna-bot__stream-wrap__stream__interaction {
      padding: 0;
      margin-bottom: 20px;
      display: flex;
      align-items: center; }
      .qna-bot__stream-wrap__stream__interaction__arrow-right, .qna-bot__stream-wrap__stream__interaction__arrow-left {
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent; }
      .qna-bot__stream-wrap__stream__interaction__arrow-right {
        border-left-style: solid;
        border-left-width: 5px; }
      .qna-bot__stream-wrap__stream__interaction__arrow-left {
        border-right-style: solid;
        border-right-width: 5px; }
      .qna-bot__stream-wrap__stream__interaction__speech {
        padding: 0;
        margin: 0; }
        .qna-bot__stream-wrap__stream__interaction__speech__media-asset {
          width: 100%;
          height: auto;
          margin: 5px 0; }
    .qna-bot__stream-wrap__stream__date-time {
      display: block;
      font-size: 11px;
      margin-top: 5px; }
    .qna-bot__stream-wrap__busy {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      flex: none;
      display: none;
      z-index: 2;
      box-sizing: border-box; }
      .qna-bot__stream-wrap__busy__wrap {
        height: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center; }
        .qna-bot__stream-wrap__busy__wrap__progress {
          width: 20px;
          height: 20px;
          margin-bottom: 10px; }
  .qna-bot__stream-wrap__stream__interaction--from-bot {
    justify-content: flex-end; }
    .qna-bot__stream-wrap__stream__interaction--from-bot .qna-bot__stream-wrap__stream__interaction__speech {
      padding: 10px;
      border-radius: 5px;
      border-right-width: 3px;
      border-right-style: solid;
      margin-left: 30px; }
  .qna-bot__stream-wrap__stream__interaction--from-user {
    justify-content: flex-start; }
    .qna-bot__stream-wrap__stream__interaction--from-user .qna-bot__stream-wrap__stream__interaction__speech {
      padding: 10px;
      border-radius: 5px;
      border-left-width: 3px;
      border-left-style: solid;
      margin-right: 30px; }
  .qna-bot__input {
    border-left-width: 5px;
    border-left-style: solid;
    border-top-width: 1px;
    border-top-style: solid;
    justify-content: flex-end;
    padding: 5px; }
    .qna-bot__input__text {
      display: block;
      width: 100%;
      padding: 10px; }
    .qna-bot__input__text, .qna-bot__input__text:focus {
      border: none;
      outline: none; }

.qna-theme--default .qna-launcher__button {
  background-color: #000;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s linear; }
  .qna-theme--default .qna-launcher__button:hover {
    opacity: 1;
    transition: all 0.3s linear; }

.qna-theme--default .qna-bot {
  background-color: #fff;
  border-color: #000;
  font-size: 16px; }
  .qna-theme--default .qna-bot__header {
    background-color: #000;
    color: #fff; }
    .qna-theme--default .qna-bot__header__title {
      text-transform: capitalize;
      color: #fff; }
    .qna-theme--default .qna-bot__header__logo {
      border-color: #fff; }
    .qna-theme--default .qna-bot__header__close__x {
      stroke: #fff;
      fill: transparent; }
  .qna-theme--default .qna-bot__stream-wrap {
    padding: 5px; }
    .qna-theme--default .qna-bot__stream-wrap__stream {
      font-size: 14px; }
      .qna-theme--default .qna-bot__stream-wrap__stream__interaction {
        border-color: #7c7cff; }
        .qna-theme--default .qna-bot__stream-wrap__stream__interaction__arrow-right {
          border-left-color: #858585; }
        .qna-theme--default .qna-bot__stream-wrap__stream__interaction__arrow-left {
          border-right-color: #7c7cff; }
      .qna-theme--default .qna-bot__stream-wrap__stream__date-time {
        color: #989898; }
    .qna-theme--default .qna-bot__stream-wrap__busy {
      opacity: 0.8;
      background-color: #000; }
      .qna-theme--default .qna-bot__stream-wrap__busy__wrap__progress {
        background-color: #fff;
        border-radius: 50%;
        animation: flash 2s linear infinite; }
      .qna-theme--default .qna-bot__stream-wrap__busy__wrap__message {
        color: #fff; }
  .qna-theme--default .qna-bot__stream-wrap__stream__interaction--from-bot .qna-bot__stream-wrap__stream__interaction__speech {
    border-right-color: #858585;
    background-color: #e3e3e3; }
  .qna-theme--default .qna-bot__stream-wrap__stream__interaction--from-user .qna-bot__stream-wrap__stream__interaction__speech {
    border-left-color: #7c7cff;
    background-color: #b3b3ff;
    color: #000; }
  .qna-theme--default .qna-bot__input {
    border-left-color: #7c7cff;
    border-top-color: #000; }

.qna-position--top-left {
  bottom: 1vh;
  left: 1%; }
  @media screen and (min-width: 1200px) {
    .qna-position--top-left {
      bottom: 20px;
      left: 20px; } }

.qna-position--top-right {
  top: 1vh;
  right: 1%; }
  @media screen and (min-width: 1200px) {
    .qna-position--top-right {
      top: 20px;
      right: 20px; } }

.qna-position--bottom-left {
  bottom: 1vh;
  left: 1%; }
  @media screen and (min-width: 1200px) {
    .qna-position--bottom-left {
      bottom: 20px;
      left: 20px; } }

.qna-position--bottom-right {
  bottom: 1vh;
  right: 1%; }
  @media screen and (min-width: 1200px) {
    .qna-position--bottom-right {
      bottom: 20px;
      right: 20px; } }

@keyframes flash {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }

